<form action="/answer" class="text-center" method="get">
  <div class="form-group">
    <label for="question">Speak to your coach</label>
  </div>
  <div class="form-group">
    <input type="text" id="question" name="query" placeholder="what time is it?">
  </div>
  <div class="form-group">
    <input type="submit" value="Go on!" class="btn btn-primary">
  </div>
</form>
